*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common class */

.flex{
    display: flex;
}

:root{
    --primary-color: #3A3A3A;
    --secondary-color: #18191F;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #AAAAAA50;
}

.btn{
    padding: 10px 24px;
    border-radius: 24px;
    border: none;
    background: #E02C6D;
    color: #ffffff;
    font-weight: 700;
}

/* Header section */

.navbar{
    max-width: 1440px   ;
    margin: 80px auto 50px;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    font-size: 1.5rem;
    font-weight: 700;
}
ul{
    gap: 2rem;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

/* hero container */

main{
    max-width: 1440px;
    margin: 0 auto;
}

.hero{
    justify-content: space-between;
    margin-bottom: 70px;
}

.hero-container{
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;
    max-width: 580px;
}

.hero-container h1{
    font-size: 3.25rem;
    color: var(--primary-color);
    line-height: 70px;
}

.hero-image{
    background: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.sponsors{
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 36px 62px;
    border: 1px solid #C0CCDA;
    margin-bottom: 110px;
}

.gear{
    text-align: center;
}

.gear-title{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}

.gear-gird-box{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 30px;
}

.gear-grid-card {
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px 10px;
    border-radius: 16px;
    gap: 16px;
}

.grid-card-contain{
    text-align: start;
}

.gear-grid-card h4{
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}

.card-details{
    max-width: 196px;
}


